# Flutter/Dart Related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
lib/firebase_options.dart
# Android Related
/android/.gradle/
/android/app/build/
/android/build/
/android/app/google-services.json

# iOS Related
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework
/ios/Flutter/FlutterPluginRegistrant/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/ios/Runner/GoogleService-Info.plist

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.lock
*.lock.json
pubspec.lock

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Other
.migrate_working_dir/
.history/
.svn/
.swiftpm/

